#fade {


}
    
    
    .swing {
        animation: swing ease-in-out 1s infinite alternate;
    }
    
  
    
    .swing:hover {
      animation-play-state: paused;}
    
    
      @keyframes swing {
          100% { transform: rotate(3deg); }
          0% { transform: rotate(-3deg); }
      }

      .swing1 {
        animation: swing1 ease-in-out 1s infinite alternate;
    }
    
  
    
    .swing1:hover {
      animation-play-state: paused;}
    
    
      @keyframes swing1 {
          0% { transform: rotate(5deg); }
          100% { transform: rotate(-2deg); }
      }

      .swing2 {
        animation: swing2 ease-in-out 1.5s infinite alternate;
    }
    
  
    
    .swing2:hover {
      animation-play-state: paused;}
    
    
      @keyframes swing2 {
          100% { transform: rotate(5deg); }
          30% { transform: rotate(-5deg); }
      }
    
    
